{% extends "base.html" %}

{% block conteudo %}

<section class="section contato">

    <h2>📞 Contato</h2>

    <div class="linha-contato">
        <span class="icone">🏪</span>
        <span>Bichano's Pet Shop Araucária</span>
    </div>

    <div class="linha-contato">
        <span class="icone">📍</span>
        <span>Araucária - PR</span>
    </div>

    <div class="linha-contato">
        <span class="icone">📞</span>
        <span>(41) 99830-9920</span>
    </div>

    <a
        href="https://wa.me/5541998309920"
        target="_blank"
        class="botao botao-whatsapp"
    >
        Falar no WhatsApp
    </a>

</section>

{% endblock %}